<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cargos e Funcionários</h5>
    <button routerLink="/funcionarioCadastro/{{id_cargo}}" class="btn btn-danger">Cadastrar Funcionário</button>

    <!---------------------------- Barra de Rolagem ----------------------------->
    <div style="height: 300px; overflow: auto;">    <table class="table">

      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome do Funcionário</th>
          <th scope="col">Cidade</th>
          <th scope="col">Cargo</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let funcionario of funcionarios">
          <th scope="row">{{funcionario.id_funcionario}}</th>
          <td>{{funcionario.func_nome}}</td>
          <td>{{funcionario.func_cidade}}</td>
          <td>{{funcionario.func_cargo}}</td>
          <td><i class="fas fa-edit text-info" ></i>
          <i routerLink="/exclusaoFuncionario/{{funcionario.id_funcionario}}" class="fas fa-trash-alt text-danger mx-2" ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
