<div class="card container">
  <div class="card-body">
    <h5 class="card-title">Editar de novo Funcionário</h5>
    <form>
      <!-- Nome -->
      <div class="mb-3">
        <label class="form-label">Nome do funcionário</label>
        <input type="text" class="form-control" name="func_nome">
      </div>

      <!-- Cidade -->
      <div class="mb-3">
        <label class="form-label">Cidade</label>
        <input type="text" class="form-control" name="func_cidade">
      </div>

      <!-- Cidade -->
      <div class="mb-3">
        <label class="form-label">Bairro</label>
        <input type="text" class="form-control" name="func_bairro">
      </div>

      <!-- Cargo -->
      <div class="mb-3">
        <label class="form-label">Cargo</label>
        <input type="text" readonly class="form-control" name="func_cargo">
      </div>

      <!-- Telefone -->
      <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" name="func_telefone">
      </div>

      <!-- Salário -->
      <div class="mb-3">
        <label class="form-label">Salário</label>
        <input type="text" class="form-control" name="func_salario">
      </div>

      <!-- Observação -->
      <div class="mb-3 bug_rodape">
        <label class="form-label">Observação</label>
        <textarea class="form-control" name="func_observacao"></textarea>
      </div>

      <button class="btn btn-sm btn-secondary ">Salvar</button>
      <button type="reset" class="btn btn-sm btn-danger mx-3">Limpar</button>
      <button class="btn btn-sm btn-warning mx-3">Voltar</button>
    </form>

  </div>
</div>
