<div class="card container">
  <div class="card-body">
    <h5 class="card-title">Funcionários da Empresa</h5>

    <!---------------------------- Barra de Rolagem ----------------------------->
    <div style="height: 300px; overflow: auto;">    <table class="table">

      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nome do Funcionário</th>
          <th scope="col">Cidade do Funcionário</th>
          <th scope="col">Cargo do Funcionário</th>
          <th scope="col">Ações</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let funcionario of fc">
          <th scope="row">{{funcionario[0]}}</th>
          <td>{{funcionario[1]}}</td>
          <td>{{funcionario[2]}}</td>
          <td>{{funcionario[3]}}</td>
          <td>
            <i routerLink="/perfilFuncionario/{{funcionario[0]}}" class="fa-solid fa-user"  ></i>
          </td>
          <td>
            <i routerLink="/edicaoFuncionario/{{funcionario[0]}}" class="fas fa-edit text-info" ></i>
            <i routerLink="/exclusaoFuncionario/{{funcionario[0]}}" class="fas fa-trash-alt text-danger mx-2" ></i>
          </td>
        </tr>

        <!-- <tr *ngFor="let funcionario of fc">
          <th scope="row">{{funcionario[0]}}</th>
          <td>{{funcionario[1]}}</td>
          <td>{{funcionario[2]}}</td>
          <td>{{funcionario[3]}}</td>
          <td>
            <i class="fas fa-edit text-info" ></i>
            <i class="fas fa-trash-alt text-danger mx-2" ></i>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
 </div>
